{% extends 'base.html' %}

{% load static %}

{% block title %}
    Cargar Noticia
{% endblock title %}

{% block contenido %}

{% include 'includes/menu-admin.html' %}

<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Publicar Noticia</h1>
                <p class="lead fw-normal text-muted mb-0">Completa el siguiente formulario.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form action="{% url 'CargarNoticia' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <table>
                            {{ form.media }}
                            {{ form.as_table }}
                        </table>
                        <!-- Submit Button-->
                        <div class="d-grid">
                            <input class="btn btn-primary btn-lg" type="submit" value="Publicar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}