{% extends 'base.html' %}

{% load static %}

{% block title %}
    Inicio
{% endblock title %}

{% block contenido %}

            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Mantenete informado con todas las noticias de Qatar 2022</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Será la tercera vez que el torneo se dispute en el continente asiático, tras la edición de 2002, jugada en Corea del Sur y Japón, y la de Rusia 2018.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'ListaNoticias' %}">Ver Noticias</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'img/home.jpg' %}" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Así son los grupos del Mundial</h2>
                        <p class="lead fw-normal text-muted mb-5">32 países clasificados que van por la copa!</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupoa.png' %}" alt="..." />
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupob.png' %}" alt="..." />
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupoc.png' %}" alt="..." />
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupod.png' %}" alt="..." />
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupoe.png' %}" alt="..." />
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupof.png' %}" alt="..." />
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupog.png' %}" alt="..." />
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid mb-4 px-4" src="{% static 'img/grupoh.png' %}" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock contenido %}
