{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{noticia.titulo}}
{% endblock title %}

{% block contenido %}

{% include 'includes/menu-admin.html' %}

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        {% if noticia.autor.profile.avatar %}
                            <img src="{{noticia.autor.profile.avatar.url}}" class="img-fluid rounded-circle" width="60px" height="60px">&nbsp; &nbsp;
                        {% else %}
                            <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid rounded-circle" width="60px" height="60px">&nbsp;
                        {% endif %}
                        <div class="ms-3">
                            <div class="fw-bold">{{noticia.autor}}</div>
                            <div class="text-muted">World Cup</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{noticia.titulo}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{noticia.fecha}}</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{noticia.imagen.url}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <h3 class="fw-bolder mb-4 mt-5">{{noticia.subtitulo}}</h3>
                            {{noticia.contenido|safe}}
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}