{% extends 'base.html' %}

{% load static %}

{% block title %}Sobre Mi{% endblock title %}

{% block contenido %}

{% include 'includes/menu-admin.html' %}

<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <img class="img-fluid mb-4 px-4" src="{% static 'img/nelson.jpg' %}" alt="..." />
                    <h1 class="fw-bolder mb-3">Nelson Salazar</h1>
                    <p class="lead fw-normal text-muted mb-4">Me llamo Nelson y aporto soluciones a las empresas para que se destaquen en ámbitos digitales.
                        ¿Qué hago? Soy programador, diseñador gráfico y editor de video.<br>
                        En cualquier tarea que realizo soy muy detallista, me gusta que las cosas salgan lo mejor posible, dedicándoles el tiempo necesario para que así sea.</p>
                    <a class="btn btn-primary btn-lg" href="https://linkedin.com/in/nelson-eduardo-salazar-zeballos-25262124a" target="_blank"><i class="bi bi-linkedin"></i>&nbsp;Visitar Perfil</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/programacion.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Programador Jr.</h2>
                <p class="lead fw-normal text-muted mb-0">Actualmente estoy haciendo mis primeras armas en programación. Me considero un profesional con facilidad de interactuar con distintas personas y comprometido con el logro de objetivos, dispuesto a asumir nuevos retos.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'img/design.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Diseño Gráfico &amp; Edición de video</h2>
                <p class="lead fw-normal text-muted mb-0">Cuento con más de 15 años de experiencia en diseño gráfico. He trabajado en empresas locales en áreas de ecommerce, diseño y comunicación. </p>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}